<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa OpenStreetMap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="icon" href="../favicon.jpeg" type="image/jpeg">
</head>

<body>
    <header>
        <img src="../images/a-logo-for-a-restaurant-with-a-large-bol_afgjvjHMRDyDAf4ON8AxqQ_GoifVWY8TyCrrZdWkFc9QQ.jpeg" alt="Mi Logo"  class="logo" width="1024" height="1024">
        <h1>Galería</h1>
        <nav class="enlaces">
            <a href="../index.html">Inicio</a>
            <a href="./galeria.html">Galería</a>
            <a href="./menu.html">Menú</a>
            <a href="./presupuesto.html">Presupuesto</a>
            <a href="#">Contacto</a>
        </nav>
    </header>
    <h2>Ubicación de la empresa</h2>
    <div class="contenedor-contacto">
        <div id="map"></div>
      
        <div class="info-contacto">
          <h2>¿Dónde estamos?</h2>
          <p>Dirección: Calle Falsa 123, Córdoba</p>
          <p>Teléfono: 123 456 789</p>
          <p>Email: contacto@ejemplo.com</p>
        </div>
      </div>
    <p id="error"></p>


    <footer class="footer">

        <a href="https://www.instagram.com" target="_blank" class="icono_redes"> <img src="../images/Instagram_logo_2022.svg.png"
                class="icono_redes" alt="logo instagram"> </a>
        <a href="https://www.twitter.com" target="_blank"> <img src="../images/uDmdf69S_400x400.jpg" class="icono_redes" alt="logo X"></a>
        <a href="https://www.bereal.com" target="_blank"> <img src="../images/BeReal._Logo.svg.png" class="icono_redes" alt="logo be real"></a>
        <br><a href="../avisos_legales/avisoLegal.pdf" target="_blank"> aviso legal</a>
        <a href="../avisos_legales/politicaCookies.pdf" target="_blank"> politica de cookies</a>
        <a href="../avisos_legales/avisoConfidencialidad.pdf" target="_blank"> aviso
            confidencialidad</a>
        <a href="../avisos_legales/politicaPrivacidadDatos.pdf" target="_blank"> politica
            privacidad</a>
    </footer>
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
     <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.min.js"></script>
    <script src="../java/contacto.js"></script>
</body>

</html>